RewriteEngine On 
RewriteRule ^([a-z0-9A-Z-]+) gallery.php?valueId=$1 [NC,L] 
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
</IfModule>
